<html>
    <head>
        <title>Our Products</title>
        <link rel="stylesheet" href="product-list.component.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    </head>
    <body> 
        <div class="container">
            <h2>Our Products</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Burger buns.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Burger Buns</h3>
                        <h5>Price: Rs 200</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Chocolate cake (1).jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <h3>Chocolate cake</h3>
                        <h5>Price: Rs 500</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Croissant.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <h3>Croissant</h3>
                        <h5>Price: Rs 250</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Crispy breadsticks.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Crispy breadsticks</h3>
                        <h5>Price: Rs 200</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Cupcake box.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <h3>Cupcake Box</h3>
                        <h5>Price: Rs 400</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Blueberry Cheesecake.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Blueberry Cheesecake</h3>
                        <h5>Price: Rs 300</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Garlic bread loaf.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <h3>Garlic Bread Loaf</h3>
                        <h5>Price: Rs 200</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Chocolate chip cookies.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Chocolate chip cookies</h3>
                        <h5>Price: Rs 150</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Mixed cookies.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <h3>Mixed Cookies</h3>
                        <h5>Price: Rs 350</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Oatmeal raisin cookies.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <h3>Oatmeal Raisin Cookies</h3>
                        <h5>Price: Rs 500</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Pineapple cake.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Pineapple cake</h3>
                        <h5>Price: Rs 350</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Rainbow Pastry.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <h3>Rainbow Cake</h3>
                        <h5>Price: Rs 250</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Red velvet cake.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Red Velvet Cake</h3>
                        <h5>Price: Rs 500</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Whole wheat bread.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <h3>Whole Wheat Bread</h3>
                        <h5>Price: Rs 150</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Baked rusk.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <h3>Baked Rusk</h3>
                        <h5>Price: Rs 200</h5>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-top">
                        <img src="assets/images/Walnut dry cake.jpg">
                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="View-Product">
                                <i class="bi bi-eye-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to wishlist">
                                <i class="bi bi-heart-fill"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to cart">
                                <i class="bi bi-cart3"></i>
                            </button>
                            
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-half"></i>
                        <h3>Walnut Dry Cake</h3>
                        <h5>Price: Rs 300</h5>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
