<html>
<head>
    <title>Product Description</title>
    <link rel="stylesheet" href="product-desc.component.css">
</head>
<body>
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="assets/images/Burger buns.jpg">
            </div>
            <div class="col-2">
                <p>Home/Products/Burger Buns</p>
                <h1>Burger Buns</h1>
                <h4>Price: Rs 200</h4>
                <select><option>Select Quantity</option>
                    <option>2</option>
                    <option>4</option>
                    <option>6</option>
                    <option>8</option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn">Add to Cart</a>
                <h3>Product Details <i class="bi bi-text-indent-left"></i></h3>
                <br>
                <p>Soft, vaguely sweet, and golden-yellow from the butter and seasame, 
                these simple buns are perfect for burgers, or any of your favorite sandwich fillings. </p>
            </div>
        </div>
    </div>
</body>
</html>
